<template>
    <div v-if="showModal" class="modal">
        <div class="modal-content">
            <span @click="showModal = false" class="close">X</span>

            <form @submit.prevent="save">
                <label for="date">Date</label>
                <input id="date" type="datetime-local" v-model="event.date"/>

                <textarea v-model="event.text" placeholder="Event Text" cols="30" rows="5"></textarea>

                <button type="submit">Save</button>
            </form>
        </div>
    </div>
</template>

<script>
import calendarService from '../services/calendar.service'

export default {
  name: 'AddEventModal',
  props: {
  },
  data: function () {
    return {
      showModal: false,
      event: {}
    }
  },
  computed: {
  },
  methods: {
    open: function () {
      this.showModal = true
    },
    save: function () {
      this.showModal = false
      calendarService.saveEvent(this.event)
      this.$emit('event-added')
      this.event = {}
    }
  }
}
</script>

<style lang="scss" scoped>
    .modal {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9999;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        box-shadow: black 4px 3px 9px 1px;

        .modal-content {
            margin: 10% auto;
            border: 1px solid gray;
            background-color: white;
            width: 30%;
            padding: 30px;

            form {
                text-align: left;

                input {
                    display: block;
                }
            }

            button {
                display: block;
            }

            .close {
                float: right;
                margin: -20px;
                color: red;
            }

        }
    }
</style>
