<template>
    <div class="container">
        <div class="header">
            <img class="logo" src="../assets/logo.png">
            <h1>Calendar</h1>
        </div>

        <div class="header-panel">
            <button @click="prevMonth()">&leftarrow;</button>
            {{ selectedDate.toDateString() }}
            <button @click="nextMonth()">&rightarrow;</button>

            <button @click="selectToday()">Today</button>

            <button @click="addEvent()" class="add-event">Add Event</button>
        </div>

        <table>
            <tr v-for="row of 6" :key="row">
                <td v-for="(day, index) of days" :key="day"
                    :class="{ 'today': isToday(dayGrid[index + ((row - 1) * 7)])  }">
                    <span v-if="row === 1">{{ day }}, </span>
                    <span :class="{ 'current-month': dayGrid[index + ((row - 1) * 7)].month === selectedDate.getMonth() }">
                        {{ dayGrid[index + ((row - 1) * 7)].day }}
                    </span>
                    <div v-for="event of dayGrid[index + ((row - 1) * 7)].events" class="cell-event">
                        {{ event.date.getHours() }}:{{ event.date.getMinutes() }}
                        {{ event.text }}
                    </div>
                </td>
            </tr>
        </table>

        <AddEventModal ref="modal" @event-added="updateGrid"></AddEventModal>
    </div>
</template>

<script>
/* eslint-disable semi */

import calendarService from '../services/calendar.service'
import AddEventModal from './AddEventModal.vue'

const months = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];
const gridSize = 42;

export default {
  name: 'Calendar',
  components: {
    AddEventModal
  },
  data: function () {
    return {
      days: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'],
      selectedDate: new Date()
    }
  },
  created: function () {
  },
  computed: {
    dayGrid: function () {
      const currentDate = new Date(this.selectedDate);
      currentDate.setDate(1);
      const firstDayOfCurrentMonth = currentDate.getDay() === 0 ? 6 : (currentDate.getDay() - 1);
      const grid = [];
      for (let i = 1; i <= months[currentDate.getMonth()]; i++) {
        grid[i - 1 + firstDayOfCurrentMonth] = { day: i, month: currentDate.getMonth() }
      }

      for (let i = firstDayOfCurrentMonth - 1, prevMonthDays = months[currentDate.getMonth() - 1]; i >= 0; i--, prevMonthDays--) {
        grid[i] = { day: prevMonthDays, month: currentDate.getMonth() - 1 }
      }

      const currentGridLength = grid.length;
      for (let i = 0; i < gridSize - currentGridLength; i++) {
        grid.push({ day: i + 1, month: currentDate.getMonth() + 1 })
      }

      const startDate = new Date(currentDate);
      startDate.setDate(grid[0].day);
      startDate.setMonth(grid[0].month);

      const endDate = new Date(currentDate);
      endDate.setDate(grid[grid.length - 1].day);
      endDate.setMonth(grid[grid.length - 1].month);

      return this.enrichWithEvents(grid, startDate, endDate)
    }
  },
  methods: {
    selectToday: function () {
      this.selectedDate = new Date()
    },
    isToday: function (cell) {
      const today = new Date();
      return cell.month === today.getMonth() && cell.day === today.getDate();
    },
    nextMonth: function () {
      this.selectedDate = new Date(this.selectedDate);
      this.selectedDate.setMonth(this.selectedDate.getMonth() + 1)
    },
    prevMonth: function () {
      this.selectedDate = new Date(this.selectedDate);
      this.selectedDate.setMonth(this.selectedDate.getMonth() - 1)
    },
    enrichWithEvents: function (grid, startDate, endDate) {
      const events = calendarService.getEvents(startDate, endDate);

      return grid.map((cell) => {
        const cellEvents = events.filter(event => event.date.getMonth() === cell.month && event.date.getDate() === cell.day);
        return Object.assign({}, cell, { events: cellEvents })
      })
    },
    addEvent: function () {
      this.$refs.modal.open();
    },
    updateGrid: function () {
      this.selectedDate = new Date(this.selectedDate);
    }
  }
}
</script>

<style lang="scss" scoped>
    table, tr, td, th {
        border: 1px solid gray;
    }

    table {
        border-collapse: collapse;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        text-align: left;
        opacity: .7;
        font-size: 12px;

        td, th {
            height: 80px;
            width: calc(100% / 7);
            vertical-align: top;
            padding: 5px;
        }
    }

    .header-panel {
        text-align: left;
    }

    .current-month {
        opacity: 1;
        font-weight: bold;
    }

    .today {
        border: 2px red solid;
    }

    .cell-event {
        border: 1px solid blue;
        margin: 2px -5px;
    }

    .add-event {
        background-color: red;
        margin-bottom: 1rem;
        width: 100px;
        height: 30px;
        float: right;
        border-radius: 20px;
        font-weight: bold;
        box-shadow: grey 4px 3px 9px 1px;
    }

    .header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo {
        width: 100px;
    }
</style>
